.grid-container {
  display: grid;
  grid-template-areas: "nav article";
  grid-template-columns: 385px 1fr;
  margin: 0;

  #mainArticle {
    grid-area: article;
  }

  #mainNav {
    grid-area: nav;
  }

}

.sidebar-left {
  width: 387px;
  left: 196px;
  margin-top: 160px;

  &-horizontal-line {
    width: 385px;
    border: 1px solid #E5E5E5;
    margin-top: 23px;
    margin-bottom: 28px;
  }

  .category {

    &-list {
      margin-top: 14px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-list-item {
      line-height: 30px;
      font-family: 'Circle-Regular';
      list-style-position: inside;

      &:hover {
        color: $text-rose;
      }

    }

  }

  .filter-header {
    &:hover {
      color: $text-rose;
    }

    display: flex;
    justify-content: left;
    height: 25px;
    margin-top: 3px;
    font-family: 'Circle-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    /* identical to box height */
    text-transform: uppercase;
    color: $main-text;
    //
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    cursor: pointer;


    &-button {
      width: 30px;
      height: 30px;
      background-color: #fbfbfb;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      margin-left: 2px;
      text-align: center;
    }

    &-name {
      margin-top: 3px;
      margin-left: 8px;
    }
  }

  .filter-price {

    &-from-to {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      width: 351px;

      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
    }

    .slider {
      -webkit-appearance: none;
      width: 351px;
      height: 2px;
      border-radius: 5px;
      background: #C4C4C4;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;

    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: #FFFFFF;;
      cursor: pointer;
      border: 3px solid #CC32A1;
      border-radius: 10px;


    }

    .sidebar-left-horizontal-line {
      margin-top: 30px;
    }

  }

  .filter-1 {

    &-checkbox-container {
      margin-top: 14px;
      margin-left: 14px;
    }

    &-checkbox-item {
      display: flex;
      justify-content: left;

      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: 300;
      font-size: 17px;
      line-height: 30px;
      /* or 176% */

      color: $main-text;
    }
  }

  .show {
    width: 351px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-header {
      font-family: 'Circle-Bold';
      font-style: normal;
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      color: $text-rose;
    }

    &-line {
      width: 351px;
      height: 2px;
      background: $text-rose;
      margin-top: 4px;
    }
  }

  .discard {
    width: 351px;
    margin-top: 21px;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-header {
      font-family: 'Circle-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      text-transform: uppercase;
      color: #D1D0D0;
    }

    &-line {
      width: 351px;
      height: 2px;
      background: #D1D0D0;
      margin-top: 4px;
    }
  }


}

.catalog {
  margin-top: 40px;

  &-header {
    font-family: Carolina;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 103px;
    margin-top: 72px;
    margin-left: 26px;
    color: $main-text;

  }

  &-header-img {
    margin-left: -52px;
  }

  &-sorting-top {
    margin-top: 23px;
    margin-left: 508px;


    &-name {
      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      text-transform: uppercase;
      color: #777777;
      margin-right: 18px;
    }


    span {
      font-family: 'Circle-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 30px;
      color: $main-text;
      margin-right: 10px;
    }

    button {

      height: 51px;
      background: #FBFBFB;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 90px;
      outline: none;
      cursor: pointer;

    }

    button:hover {
      color: $text-rose;
      border-color: $text-rose;
    }
  }

  .catalog-1 {
    margin-top: 65px;
    margin-left: 26px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-row-gap: 36px;
    grid-column-gap: 34px;
  }

}

.pagination {
  margin-top: 146px;
  margin-bottom: 138px;
  margin-left: 26px;
  width: 1079px;
  display: flex;
  justify-content: space-between;

  &-pages {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;


    &-current {
      margin-right: 20px;
      font-size: 40px;
      text-decoration: underline;
    }

    &-all {
      margin-right: 20px;
      font-size: 20px;
    }
  }
}


.subcategory-list-ul {
  margin-left: 20px;
  color: #C4C4C4;
}

input[type="checkbox"] {
  display: none;
}

label {
  color: #000;
  cursor: pointer;
  line-height: 16px;
  margin-top: 15px;
}

label:before {
  cursor: pointer;
  content: " ";
  color: $main-text;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  background: #F2F2F2;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 2px;
  vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: url("../img/svg/checkmark.svg");

}














