@font-face {
  font-family: 'Circle-Bold';
  src: url('../fonts/Circe-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circle-ExtraBold';
  src: url('../fonts/Circe-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circle-ExtraLight';
  src: url('../fonts/Circe-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circle-Light';
  src: url('../fonts/Circe-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circle-Regular';
  src: url('../fonts/Circe-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Circle-Thin';
  src: url('../fonts/Circe-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}