.footer {
  background-color: $footer-backround;
  color: #fff;
  font-family: 'Circle-Regular';
  border-top: 1px solid #EEEEEE;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    
    &-bottom {
      height: 89px;
      align-items: center;
    }
  }

  &-links-items {
    margin: 71px 0 55px 0;
    &-right{
      text-align: right;
    }
  }

  &-links-items-item {
    line-height: 40px;
    &:hover {
      color: $text-rose;
    }
    &-header {
      text-transform: uppercase;
    }
  }

  &-contacts {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contacts {
  &-phone {
    font-size: 22px;
    line-height: 11px;
    margin-top: 21px;
  }

  &-delivery {
    font-size: 15px;
    line-height: 11px;
    color: #777;
    margin-top: 11px;
  }

  &-time {
    font-size: 13px;
    line-height: 40px;
    font-family: 'Circle-Bold';
  }
}

.news-subscribe {
  margin-top: 21px;
}

.subscribe{
  &-news {
  font-size: 16px;
  line-height: 40px;
  text-align: right;
  width: 100%;
  display: inline-block;
  margin-left: -70px;
  }

  &-field {
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #777777;
    border-radius: 15px;
    width: 240px;
    height: 38px;
    padding: 0 15px;
    color: #777;
  }

  &-block {
    display: flex;
    align-items: center;
  }

  &-send {
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    border: none;
    margin-left: 10px;
  }
}

.social {
  &-links-items {
    display: flex;
    flex-direction: row;
  }
  &-links-items-item {
    display: flex;
    flex-direction: row;
    margin-left: 14px;
  }
}